.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/static/uploads/profile/*
/files/api/uploads/*.jpg
/files/api/uploads/*.png
/files/api/uploads/*.jpeg
/files/api/uploads/*.webp